.error {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: var(--color-aqua);

    font-weight: var(--fw-medium);
    font-size: var(--fz-lg);
    line-height: var(--lh-lg);
  }

  &__img {
    margin-top: 20px;

    max-width: 450px;
  }
}
