.home {
  width: 100%;
  padding: 0 var(--gutters);

  &__bg {
    height: 500px;
    background: var(--bg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
