@keyframes loader-animation {
  0% {
    background: #a9b1bd;
  }
  12.5% {
    background: #a9b1bd;
  }
  12.625% {
    background: #11b0c8;
  }
  100% {
    background: #11b0c8;
  }
}

.loader {
  margin: 0 auto;

  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  background: transparent;

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */

    & div {
      position: absolute;
      width: 40px;
      height: 40px;
      background: #11b0c8;
      animation: loader-animation 1s linear infinite;

      box-sizing: content-box;
    }
  }
}
