.not-found {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: var(--fw-black);
    font-size: var(--fz-mega);
    line-height: var(--lh-mega);

    color: var(--color-light);

    margin: 0;
  }

  &__subtitle,
  &__link {
    text-align: center;
    font-weight: var(--fw-regular);
    font-size: var(--fz-sm);
    line-height: var(--lh-sm);

    color: var(--theme-default-first-color);
  }

  &__link {
    margin-top: 10px;
    text-decoration: underline;
  }
}
