.table {
  font-size: var(--fz-xs);
  line-height: var(--lh-xs);

  color: var(--theme-font-color);

  &__info {
    text-align: center;
    padding: 20px 0;
  }

  &__table {
    width: 100%;

    min-width: 865px;
    overflow: auto;

    border-collapse: collapse;
  }

  &__head {
    text-align: left;
    vertical-align: initial;
  }

  &__row {
  }

  &__img {
    width: 43px;
    height: 68px;
    object-fit: cover;
  }

  &__row--head {
    background-color: var(--color-light-gray);
  }

  &__head-data {
    font-weight: var(--fw-medium);

    padding: 18px 0;

    @include breakpoint-down("lg") {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__body {
    .table__row {
      border-bottom: 1px solid var(--theme-border-color);
    }
  }

  &__data {
    font-weight: var(--fw-regular);
    padding: 6px 0;
  }

  &__data--empty {
    width: var(--gutters);
    @include breakpoint-down("lg") {
      width: 0;
    }
  }

  &__img-wrapper {
    position: relative;
    display: inline-block;
  }

  &__favorite {
    position: absolute;
    top: 0;
    right: -5px;

    opacity: 0;
    transition: var(--transition-standard) opacity ease-in-out;

    &--active {
      opacity: 1;
    }
  }

  &__img {
    vertical-align: middle;
  }

  &__button {
    width: 43px;
    height: 43px;
  }
  &__icon {
    vertical-align: bottom;
  }
}
