:root {
  --font-poppins: "Poppins";

  --fz-xs: 1.4rem;
  --fz-sm: 1.6rem;
  --fz-lg: 3rem;
  --fz-mega: 10rem;
  --fz-home: 24rem;

  --lh-xs: 2.1rem;
  --lh-sm: 2.2rem;
  --lh-md: 2.4rem;
  --lh-lg: 3.4rem;
  --lh-mega: 10.3rem;
  --lh-home: 24.3rem;

  --color-white: #ffffff;
  --color-dark: #333333;
  --color-gray: #a9b1bd;
  --color-light: #e5eaf4;
  --color-light-gray: rgba(229, 234, 244, 0.25);
  --color-aqua: #11b0c8;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black: 900;

  --transition-standard: 0.6s;
  --border-radius: 12px;
  --border-radius-sm: 4px;

  --gutters: 140px;

  --theme-default-bg: var(--color-white);
  --theme-default-first-color: var(--color-aqua);
  --theme-default-second-color: var(--color-gray);
  --theme-default-third-color: var(--color-white);
  --theme-default-font-color: var(--color-gray);
  --theme-default-hover-color: var(--color-white);
  --theme-default-border-color: var(--color-light);

  --theme-dark-bg: var(--color-dark);
  --theme-dark-first-color: var(--color-aqua);
  --theme-dark-second-color: var(--color-gray);
  --theme-dark-third-color: var(--red);
  --theme-dark-font-color: var(--color-white);
  --theme-dark-hover-color: var(--color-white);
  --theme-dark-border-color: var(--color-gray);

  --theme-bg: var(--theme-default-bg);
  --theme-first-color: var(--theme-default-first-color);
  --theme-second-color: var(--theme-default-second-color);
  --theme-third-color: var(--theme-default-third-color);
  --theme-hover-color: var(--theme-default-hover-color);
  --theme-font-color: var(--theme-default-font-color);
  --theme-border-color: var(--theme-default-border-color);

  --bg: url("../images/bg.png");

  @include breakpoint-down("fhd") {
    --gutters: 120px;
    --fz-home: 18rem;
    --lh-home: 18.3rem;
  }
  @include breakpoint-down("xxl") {
    --fz-home: 17rem;
    --lh-home: 17.3rem;
  }
  @include breakpoint-down("xxl") {
    --gutters: 100px;

    --fz-home: 15rem;
    --lh-home: 16.3rem;
  }
  @include breakpoint-down("lg") {
    --fz-home: 10rem;
    --lh-home: 10.3rem;
  }
  @include breakpoint-down("md") {
    --gutters: 50px;

    --fz-home: 9rem;
    --lh-home: 9.3rem;
  }
  @include breakpoint-down("sm") {
    --gutters: 20px;

    --fz-home: 5rem;
    --lh-home: 5.3rem;
  }
}
