:root {
  --font-poppins: "Poppins";

  --fz-xs: 1.6rem;

  --lh-xs: 2.2rem;
  --lh-sm: 2.4rem;

  --color-white: #ffffff;
  --color-gray: #a9b1bd;
  --color-light-gray: rgba(229, 234, 244, 0.25);
  --color-aqua: #11b0c8;

  --fw-regular: 400;
  --fw-medium: 500;
}
