:root {
  --font-poppins: "Poppins";
  --fz-xs: 1.4rem;
  --fz-sm: 1.6rem;
  --fz-lg: 3rem;
  --fz-mega: 10rem;
  --fz-home: 24rem;
  --lh-xs: 2.1rem;
  --lh-sm: 2.2rem;
  --lh-md: 2.4rem;
  --lh-lg: 3.4rem;
  --lh-mega: 10.3rem;
  --lh-home: 24.3rem;
  --color-white: #ffffff;
  --color-dark: #333333;
  --color-gray: #a9b1bd;
  --color-light: #e5eaf4;
  --color-light-gray: rgba(229, 234, 244, 0.25);
  --color-aqua: #11b0c8;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black: 900;
  --transition-standard: 0.6s;
  --border-radius: 12px;
  --border-radius-sm: 4px;
  --gutters: 140px;
  --theme-default-bg: var(--color-white);
  --theme-default-first-color: var(--color-aqua);
  --theme-default-second-color: var(--color-gray);
  --theme-default-third-color: var(--color-white);
  --theme-default-font-color: var(--color-gray);
  --theme-default-hover-color: var(--color-white);
  --theme-default-border-color: var(--color-light);
  --theme-dark-bg: var(--color-dark);
  --theme-dark-first-color: var(--color-aqua);
  --theme-dark-second-color: var(--color-gray);
  --theme-dark-third-color: var(--red);
  --theme-dark-font-color: var(--color-white);
  --theme-dark-hover-color: var(--color-white);
  --theme-dark-border-color: var(--color-gray);
  --theme-bg: var(--theme-default-bg);
  --theme-first-color: var(--theme-default-first-color);
  --theme-second-color: var(--theme-default-second-color);
  --theme-third-color: var(--theme-default-third-color);
  --theme-hover-color: var(--theme-default-hover-color);
  --theme-font-color: var(--theme-default-font-color);
  --theme-border-color: var(--theme-default-border-color);
  --bg: url("../images/bg.png");
}

@media (max-width: 1640px) {
  :root {
    --gutters: 120px;
    --fz-home: 18rem;
    --lh-home: 18.3rem;
  }
}

@media (max-width: 1439px) {
  :root {
    --fz-home: 17rem;
    --lh-home: 17.3rem;
  }
}

@media (max-width: 1439px) {
  :root {
    --gutters: 100px;
    --fz-home: 15rem;
    --lh-home: 16.3rem;
  }
}

@media (max-width: 991px) {
  :root {
    --fz-home: 10rem;
    --lh-home: 10.3rem;
  }
}

@media (max-width: 767px) {
  :root {
    --gutters: 50px;
    --fz-home: 9rem;
    --lh-home: 9.3rem;
  }
}

@media (max-width: 575px) {
  :root {
    --gutters: 20px;
    --fz-home: 5rem;
    --lh-home: 5.3rem;
  }
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("../fonts/Poppins-Black.ttf") format("truetype");
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--theme-bg);
  color: var(--theme-font-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  position: relative;
}

button {
  color: inherit;
}

img {
  max-width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media (min-width: 576px) {
  .visually-hidden--sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .visually-hidden--md {
    display: none;
  }
}

@media (min-width: 992px) {
  .visually-hidden--lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .visually-hidden--xl {
    display: none;
  }
}

@media (min-width: 1440px) {
  .visually-hidden--xxl {
    display: none;
  }
}

@media (min-width: 1640px) {
  .visually-hidden--fhd {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    padding: 0 20px;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0;
    max-width: 900px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1640px) {
  .container {
    max-width: 1620px;
  }
}

.button {
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--theme-default-first-color);
  cursor: pointer;
  font-weight: var(--fw-medium);
  font-size: var(--fz-sm);
  line-height: var(--lh-md);
  color: var(--color-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition-standard) background-color, border-color ease-in-out;
  transition: var(--transition-standard) background-color, border-color ease-in-out;
}

.button svg path {
  -webkit-transition: var(--transition-standard) fill ease-in-out;
  transition: var(--transition-standard) fill ease-in-out;
  fill: var(--theme-default-first-color);
}

.button:disabled {
  cursor: initial;
}

.button:disabled svg path {
  -webkit-transition: var(--transition-standard) fill ease-in-out;
  transition: var(--transition-standard) fill ease-in-out;
  fill: var(--color-gray);
}

.button:hover:not(:disabled), .button:active:not(:disabled) {
  background-color: var(--theme-second-color);
  border-color: var(--theme-second-color);
  color: var(--theme-hover-color);
}

.button:hover:not(:disabled) svg path, .button:active:not(:disabled) svg path {
  fill: var(--theme-hover-color);
}

.button--active {
  background-color: var(--theme-default-first-color);
  color: var(--color-white);
  border-color: var(--theme-default-first-color);
}

.button--active svg path {
  fill: var(--color-white);
}

@-webkit-keyframes loader-animation {
  0% {
    background: var(--theme-second-color);
  }
  12.5% {
    background: var(--theme-second-color);
  }
  12.625% {
    background: var(--theme-first-color);
  }
  100% {
    background: var(--theme-first-color);
  }
}

@keyframes loader-animation {
  0% {
    background: var(--theme-second-color);
  }
  12.5% {
    background: var(--theme-second-color);
  }
  12.625% {
    background: var(--theme-first-color);
  }
  100% {
    background: var(--theme-first-color);
  }
}

.loader {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  background: transparent;
}

.loader__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.loader__wrapper div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--theme-first-color);
  -webkit-animation: loader-animation 1s linear infinite;
          animation: loader-animation 1s linear infinite;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  padding: 0 var(--gutters);
  position: relative;
}

.header__wrapper:first-child {
  padding-top: 32px;
  padding-bottom: 30px;
}

.header__wrapper:nth-child(2) {
  padding-top: 26px;
  padding-bottom: 28px;
}

.header__wrapper:nth-child(2n):before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--theme-border-color);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1439px) {
  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 1199px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header__search {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  max-width: 505px;
}

@media (max-width: 1439px) {
  .header__search {
    max-width: 400px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header__themes {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 1199px) {
  .header__themes {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 80px;
}

.nav__link {
  padding: 6px 0;
  font-weight: var(--fw-medium);
  font-size: var(--fz-xs);
  line-height: var(--lh-md);
  color: var(--theme-font-color);
  position: relative;
  -webkit-transition: var(--transition-standard) color ease-in-out;
  transition: var(--transition-standard) color ease-in-out;
}

.nav__link:before {
  content: "";
  -webkit-transition: var(--transition-standard) background-color ease-in-out;
  transition: var(--transition-standard) background-color ease-in-out;
}

.nav__link--active {
  color: var(--theme-first-color);
}

.nav__link--active:before {
  width: 100%;
  height: 3px;
  background-color: var(--theme-first-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  width: 100%;
  -webkit-transition: var(--transition-standard) box-shadow ease-in-out;
  transition: var(--transition-standard) box-shadow ease-in-out;
}

.search-form:focus-within {
  -webkit-box-shadow: 0 0 30px var(--theme-default-first-color);
          box-shadow: 0 0 30px var(--theme-default-first-color);
}

.search-form__input {
  width: 100%;
  padding: 16px 20px;
  background-color: transparent;
  border: none;
  font-weight: var(--fw-medium);
  font-size: var(--fz-xs);
  line-height: var(--lh-md);
  color: var(--theme-font-color);
}

.search-form__input::-webkit-input-placeholder {
  color: var(--theme-font-color);
}

.search-form__input:-ms-input-placeholder {
  color: var(--theme-font-color);
}

.search-form__input::-ms-input-placeholder {
  color: var(--theme-font-color);
}

.search-form__input::placeholder {
  color: var(--theme-font-color);
}

@media (max-width: 575px) {
  .search-form__input {
    padding: 10px 15px;
  }
}

.search-form__input:focus, .search-form__input:active {
  outline: none;
}

.search-form__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 15px;
}

@media (max-width: 575px) {
  .search-form__button {
    padding: 0 10px;
  }
}

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: var(--gutters);
  padding-left: var(--gutters);
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.pagination__button {
  width: 40px;
  height: 40px;
}

.pagination__icon--next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table {
  font-size: var(--fz-sm);
  line-height: var(--lh-sm);
  color: var(--theme-font-color);
}

.table__info {
  text-align: center;
  padding: 20px 0;
}

.table__table {
  width: 100%;
  min-width: 865px;
  overflow: auto;
  border-collapse: collapse;
}

.table__head {
  text-align: left;
  vertical-align: initial;
}

.table__img {
  width: 43px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.table__row--head {
  background-color: var(--color-light-gray);
}

.table__head-data {
  font-weight: var(--fw-medium);
  padding: 18px 0;
}

@media (max-width: 991px) {
  .table__head-data {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.table__body .table__row {
  border-bottom: 1px solid var(--theme-border-color);
}

.table__data {
  font-weight: var(--fw-regular);
  padding: 6px 0;
}

.table__data--empty {
  width: var(--gutters);
}

@media (max-width: 991px) {
  .table__data--empty {
    width: 0;
  }
}

.table__img-wrapper {
  position: relative;
  display: inline-block;
}

.table__favorite {
  position: absolute;
  top: 0;
  right: -5px;
  opacity: 0;
  -webkit-transition: var(--transition-standard) opacity ease-in-out;
  transition: var(--transition-standard) opacity ease-in-out;
}

.table__favorite--active {
  opacity: 1;
}

.table__img {
  vertical-align: middle;
}

.table__button {
  width: 43px;
  height: 43px;
}

.table__icon {
  vertical-align: bottom;
}

.not-found {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-found__title {
  font-weight: var(--fw-black);
  font-size: var(--fz-mega);
  line-height: var(--lh-mega);
  color: var(--color-light);
  margin: 0;
}

.not-found__subtitle, .not-found__link {
  text-align: center;
  font-weight: var(--fw-regular);
  font-size: var(--fz-sm);
  line-height: var(--lh-sm);
  color: var(--theme-default-first-color);
}

.not-found__link {
  margin-top: 10px;
  text-decoration: underline;
}

.error {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__title {
  color: var(--theme-default-first-color);
  font-weight: var(--fw-medium);
  font-size: var(--fz-lg);
  line-height: var(--lh-lg);
}

.error__img {
  margin-top: 20px;
  max-width: 450px;
}

.home {
  width: 100%;
  padding: 0 var(--gutters);
}

.home__bg {
  height: 500px;
  background: var(--bg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (max-width: 575px) {
  .themes {
    gap: 15px;
  }
}

.themes__title {
  font-size: var(--fz-sm);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
}

.themes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.themes__item {
  font-size: var(--fz-xs);
  line-height: var(--lh-xs);
}

.themes__button {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--color-dark);
}

.themes__button--default {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.themes__button--dark {
  background-color: var(--color-dark);
  border-color: var(--color-light);
}

.themes__button--current {
  color: var(--color-aqua);
}

.themes__button:disabled {
  cursor: default;
}
/*# sourceMappingURL=index.css.map */